@import "./utilities/extends";
@import "./utilities/variables";

@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

@import "./mq/mq";

* {
  font-family: "Open Sans", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;

  @extend %flexColumn;

  gap: 2rem;
  color: $colorNegro;
}
.oscurecer-fondo {
  @extend %oscurecerFondo;
  background-color: $backgroundOscurecerFondo;
}
.oscurecer-fondo-sucursales {
  @extend %oscurecerFondo;
  background-color: $backgroundOscurecerFondo;
}
.wppLogo {
  width: 3rem;
  right: 1rem;
  bottom: 2rem;
}
.fondoWpp {
  background-color: $colorNegro;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;

  bottom: 2rem;
  right: 2rem;
}
