@media only screen and (min-width: 900px) {
  ul,
  .index-header-flex {
    flex-direction: row;
  }
  .footer-container-primerHijo {
    grid-area: 1 / 1 / 3 / 3;
  }
  .footer-container-segundoHijo {
    grid-area: 1 / 3 / 3 / 4;
  }
  .footer-container-tercerHijo {
    grid-area: 3 / 1 / 4 / 4;
  }
  .btn-header {
    width: 100%;
  }
  .contenedor-inferior-header {
    height: 75vh;
  }
  .iframeMapa {
    width: 50%;
  }
  .sucursales-main-container {
    flex-direction: row;
    justify-content: center;
  }
  .contenedor-inferior-header-sucursales {
    max-width: 50%;
  }
}